.nav__items{
  margin-right: 25px;

  a{
    text-decoration: none;
    color: white;
    height: 100%;
    font-size: 1.25em;
    
    &:hover,
    &:active,
    .active{
      color: #ffeb3b;
    }
  }

}